.contents .news a { color:#73ace5!important; }
.detail .contents {
	background: url(../images/iena/cat_bg.gif) repeat;
	-webkit-background-size: 180px 180px;
	padding: 20px 0 0 0;
}
.detail .news .title {
	padding: 0 0 10px 0;
}

.detail .news .title h2 {
	border-top: 2px solid #91C2F6;
	color: #91C2F6;
	background: url(../images/iena/dot_x.gif) bottom left repeat-x;
	padding: 10px 10px 10px 5px;
	
	margin:0 10px;
}
/*Ú×ƒŠƒ“ƒN*/
.inner p.wp-caption-text a.blank{
color: #5a91cd;
background: url(../images/iena/point_blank.jpg) left center no-repeat;
}