.contents .news a { color:#335c33!important; }
.detail .contents {
	background: url(../images/journal-standard-l/cat_bg.gif) repeat;
	-webkit-background-size: 80px 80px;
	padding: 20px 0 0 0;
}
.detail .news .title {
	padding: 0 0 10px 0;
}

.detail .news .title h2 {
	border-top: 2px solid #335c33;
	color: #335c33;
	background: url(../images/journal-standard-l/dot_x.gif) bottom left repeat-x;
	padding: 10px 10px 10px 5px;
	
	margin:0 10px;
}
/*Ú×ƒŠƒ“ƒN*/
.inner p.wp-caption-text a.blank{
color: #003300;
background: url(../images/journal-standard-l/point_blank.jpg) left center no-repeat;
}
