.contents .news a { color:#62101a!important; }
.detail .contents {
	background: url(../images/js-homestead/cat_bg.gif) repeat;
	-webkit-background-size: 80px 80px;
	padding: 20px 0 0 0;
}
.detail .news .title {
	padding: 0 0 10px 0;
}

.detail .news .title h2 {
	border-top: 2px solid #be8132;
	color: #be8132;
	background: url(../images/js-homestead/dot_x.jpg) bottom left repeat-x;
	padding: 10px 10px 10px 15px;
	margin:0 10px;
}
/*Ú×ƒŠƒ“ƒN*/
.inner p.wp-caption-text a.blank{
color: #62101a;
background: url(../images/js-homestead/point_blank.jpg) left center no-repeat;
}