.contents .news a { color:#8c7753!important; }
.detail .contents {
	background: url(../images/la-totalite/cat_bg.gif) repeat;
	-webkit-background-size: 80px 80px;
	padding: 20px 0 0 0;
}
.detail .news .title {
	padding: 0 0 10px 0;
}

.detail .news .title h2 {
	border-top: 2px solid #f4dc8c;
	color: #8C7652;
	background: url(../images/la-totalite/dot_x.gif) bottom left repeat-x;
	padding: 10px 10px 10px 5px;
	margin:0 10px;
}
/*Ú×ƒŠƒ“ƒN*/
.inner p.wp-caption-text a.blank{
color: #8c7753;
background: url(../images/la-totalite/point_blank.jpg) left center no-repeat;
}